/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}


/* UTILITY */

.txtc{
    text-align: center;
}

.txtr{
    text-align: right;
}

.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: blue;
}

.bg-azure {
    background-color: rgb(1, 153, 153);
}

.bg-darkpink{
    background-color: rgb(180, 84, 100);
}

.bg-lblue{
    background-color: lightblue;
}

.bg-pink{
    background-color: pink;
}

.bg-fuchsia{
    background-color: rgb(255, 113, 255);
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: rgb(180, 180, 180);
}

.bg-green{
    background-color: darkgreen;
}

.flexrev{
    flex-direction: row-reverse;
}

.bg-black{
    background-color: rgb(15, 15, 15);
}

/* LAYOUT  */

.conteiner{
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-d6{
    width: calc(100%/6)
}

.col-d6x2{
    width: calc(100%/6*2);
}

.col-25{
    width: 25%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}


.col-100{
    width: 100%;
}






/* HEADER */

.main-header{
    background-color: lightblue;
    height: 100px;
    padding: 20px;
}





/* MAIN */

.box-500{
    height: 500px;
    padding: 100px;
    align-items: center;
}


.col-fuchsia{
    border: 1px dashed black;
    height: 300px;
    border-radius: 2%;
}


.box-700{
    height: 700px;
    align-items: center;
}

.col-pink-blue{
    height: 500px;
}

.box-1100{
    height: 1100px;
    align-items: center;
}

.col-green{
    height: 1000px;
}

.col-dpinkazure{
    height: 650px;
}


/* DEBUG RULES */

.debug .conteiner{
}

.debug .row{
}

.debug [class^='col']{
    min-height: 50px;
    border: dashed 2px rgb(0, 0, 0);
}